{% extends "base.html" %}
{% load static wagtailimages_tags publications_tags search_tags %}

{% block content %}

<main>
  <header class="container pb-4 pb-lg-5">
    <h1 class="text-center my-4 my-lg-5">
      Amiel Melburn Archive is an online database of socialist and radical writings.
    </h1>
  </header>

  <section class="container-fluid showcase px-lg-5">
    <div class="card-grid mb-4 mb-lg-5">
      {% for issue in self.issue_sample %}
      {% issue_card issue %}
      {% endfor %}
    </div>
  </section>

  <div class="bg-white">
    <section class="container py-5">
      {% search_block %}
    </section>
  </div>

  <section class="container py-4">
    <h3 class="pb-2">Publications in the archive</h3>
    
    <ul class="list-group">
      {% for pub in self.publications %}
        <li class="list-group-item list-group-item-link">
          <a class="d-flex flex-wrap flex-md-nowrap flex-row" href={{pub.url}}>
            <div class="w-100 w-md-50 heading-medium">
              {{pub.title}}
            </div>
            <div class="w-100 w-md-25">
              {{pub.num_issues}} issues
            </div>
            <div class="w-100 w-md-25">
              {{pub.year_range_str}}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>

{% endblock content %}
