{% extends 'website_base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<article class="generic-page">
  <div class="generic-page__hero">
    {% image page.hero_image fill-1140x210 %}
    <h1>{% block page_title %}{{ page.title }}{% endblock %}</h1>
  </div>
  <div class="generic-page__inner">
    <div class="generic-page__header">
      <h2 class="generic-page__main-title">
        {% block page_subtitle %}{% if page.subtitle %}{{ page.subtitle }}{% endif %}{% endblock %}
      </h2>
      {% block page_header %}{% endblock %}
    </div>
    <div class="generic-page__content">
      {% block page_content %}
        {{ page.copy|richtext }}

        {% if page.embed_code %}
          <div class="generic-page__embed">
            {{ page.embed_code|safe }}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</article>

{% endblock %}
