{% extends "base.html" %}
{% load static webpack_bundle util_tags %}


{% block extra_css %}
{% webpack_bundle "pdf" "css" %}
{% endblock %}


{% block body_class %}overflow-hidden vh-100{% endblock %}
{% block body %}

<header>
  <nav class="navbar navbar-expand-lg py-4 navbar-light">
    <div class="container align-items-end">
        <a class="navbar-brand" href="/">
          <img class="logo-mini" src={% static 'img/logo-small.png' %} />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span class="flex-grow-1"></span>

          {% menubar %}
        </div>
    </div>
  </nav>
</header>

<div class="d-flex flex-row flex-grow-1 flex-height-0">
  <div class="container-fluid position-relative overflow-y-auto flex-width-0 w-auto p-4 min-w-readable">
    <a class="d-inline-block mb-3" href="{{ self.publication.url }}">
      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" class="me-2">
        <path d="M6.81464 10.3678L2.61237 6.1157L6.81464 1.86363L5.9711 0.909088L0.818359 6.1157L5.9711 11.3223L6.81464 10.3678Z" fill="#02808B"/>
        </svg>
        Back to publication
    </a>

    <h1 class="heading-mid-large mb-4">
      {{ self.publication.title }} {{ self.issue_page.title }}
    </h1>


    <form method="GET" action="/search/" class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Search</label>

      <div class="input-group">
        <input type="hidden" name="scope" value="{{ self.issue_page.id }}">
        <input id="search" name="query" type="text" class="form-control" aria-describedby="button-search">
  
        <button class="btn btn-primary" type="button" aria-label="Search" id="button-search">
          <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3435 16.9249C19.5383 15.2619 20.2395 13.2263 20.2395 11.0363C20.2395 5.44704 15.709 0.916504 10.1198 0.916504C4.53054 0.916504 0 5.44704 0 11.0363C0 16.6255 4.53054 21.156 10.1198 21.156C12.3098 21.156 14.3454 20.4548 16.0084 19.26L23.6802 26.9165L26 24.5967L18.3435 16.9249ZM3.11377 11.0363C3.11377 14.9129 6.24311 18.0423 10.1198 18.0423C13.9964 18.0423 17.1257 14.9129 17.1257 11.0363C17.1257 7.15962 13.9964 4.03028 10.1198 4.03028C6.24311 4.03028 3.11377 7.15962 3.11377 11.0363Z" fill="white"/>
          </svg>
        </button>
      </div>
    </form>
      

    {% if self.shows_contents %}
    <nav class="nav flex-column">
      <h2 class="heading-small mb-3 text-secondary">Contents</h2>

      {% for article in self.articles %}
        <li class="nav-item mb-3">
          {% bs_link label=article.title|lower href=article.url class="contents-link" %}
        </li>
      {% endfor %}

      <li class="nav-item mb-3">
        {% bs_link label="Covers" href=self.issue_page.url class="contents-link" %}
      </li>
    </nav>
    {% endif %}
  </div>
  
  <main data-pdf="{{ self.pdf.url }}" class="flex-grow-1 bg-light pdf-container">
  </main>
</div>

{% endblock %}

{% block extra_js %}
{% webpack_bundle "pdf" %}
{% endblock %}
