{% extends "base.html" %}
{% load static webpack_bundle %}


{% block extra_css %}
{% webpack_bundle "pdf" "css" %}
{% endblock %}


{% block body_class %}d-flex flex-column h-100{% endblock %}


{% block content %}
<div class="container mb-3">
  <h1>
    {{ self.title }}
  </h1>
</div>

<main class="d-flex overflow-hidden flex-column flex-grow-1 position-relative">
  <div data-pdf="{{ self.pdf.url }}" class="h-100 bg-light pdf-container">
  </div>
</main>
{% endblock %}


{% block extra_js %}
{% webpack_bundle "pdf" %}
{% endblock %}
