{% extends "base.html" %}
{% load static wagtailcore_tags search_tags util_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    <header class="container py-4">
        <h1 class="mb-2">Advanced search</h1>

        <form class="d-none d-md-block" action="{% url 'search' %}" autocomplete="off" method="get">
            <input type="hidden" name="mode" value="advanced">

            <div class="row mt-5 microcopy fw-bold">
                <div class="col-3">
                    Publication
                </div>
                <div class="col-3">
                    Published date
                </div>
                <div class="col-6">
                    Author
                </div>
            </div>

            <div class="row mt-2">
              <div class="col-3">
                  <select name="publication" class="form-select">
                    <option value="">whole archive</option>
                    {% for pub in publications %}
                      <option value="{{pub.id}}" {% if pub.id == filter.publication %}selected{% endif %}>{{pub.title}}</option>
                    {% endfor %}
                  </select>
              </div>

              <div class="col-3">
                <select name="decade"  class="form-select">
                  <option value="">any decade</option>
                  {% for decade in decades %}
                  <option value="{{decade}}" {% if decade == filter.decade %}selected{% endif %}>{{decade}}s</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-6">
                  <input name="author" class="form-control" value="{{filter.author}}">
              </div>
            </div>

            <div class="row microcopy fw-bold mt-5 mb-2">
              <div class="col-3"></div>
              <div class="col-3">
                  Condition
              </div>
              <div class="col-6">
                  Search term
              </div>
            </div>

            <div id="values">
              {% for term in terms %}
                {% if forloop.first %}
                  {% include "search/include/adv_search_row.html" %}
                {% else %}
                  {% include "search/include/adv_search_row.html" with boolop=True %}
                {% endif %}
              {% empty %}
                {% include "search/include/adv_search_row.html" %}
              {% endfor %}
            </div>

            <div class="row mt-5">
                <button class="btn btn-primary col-3" type="submit" id="search-btn">Search</button>

                <div class="col-3">
                  <button class="btn" type="button" id="clear-btn">Clear</button>
                </div>

                <div class="col-6 d-flex flex-row align-items-center justify-content-end">
                  <a href="#" id="add-line">Add a new line</a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                  <a href="/search">
                    Simple search
                  </a>
                </div>
            </div>
        </form>
    </header>

    <main class="container py-5">
      {% if terms %}
        {% if search_results %}
            <h2 class="mb-3"><span class="text-secondary">{{paginator.count}} results</span></h2>

            <div>
                {% for result in search_results %}
                    <div class="search-result-item py-4">
                        <h3 class="heading-medium fw-normal mb-2">
                            <a href="{{ result.url }}">{{ result.page.title }}</a>
                        </h3>
                        {{ result.highlight }}

                        {% if result.page.search_meta_info %}
                          <div class="mt-3 microcopy">
                            {{result.page.search_meta_info}}
                          </div>
                        {% endif %}

                        {% if result.page.author_name %}
                          <div class="mt-1 microcopy">
                              {{result.page.author_name}}
                          </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            
            {% if paginator.num_pages > 1 %}
            <nav aria-label="Pages" class="d-flex flex-column align-items-center">
                {% bs_pagination paginator %}
            </nav>
            {% endif %}
        {% else %}
            <h2 class="mb-3"><span class="text-secondary">No results</span></h2>

            <p>
                You could try:
            </p>
            <ul>
                <li>removing filters</li>
                <li>searching for something less specific</li>
                <li>double-checking your spelling</li>
            </ul>
            <p>
                Or <a href="/">browse the archive</a>
            </p>
        {% endif %}
      {% endif %}
    </main>

    <div class="d-none" id="search-item-template">
      {% include "search/include/adv_search_row.html" with boolop=False %}
      {% include "search/include/adv_search_row.html" with boolop=True %}
    </div>
{% endblock %}


{% block extra_js %}

<script>
  (function bindSearch() {
    'use strict';

    const addLine = document.getElementById('add-line');
    const clear = document.getElementById('clear-btn');
    const valueContainer = document.getElementById('values')
    const valueTemplateFirst = document.getElementById('search-item-template').children[0];
    const valueTemplate = document.getElementById('search-item-template').children[1];

    addLine.onclick = function addLines(event) {
      event.preventDefault();
      valueContainer.appendChild(valueTemplate.cloneNode(true));
    }

    clear.onclick = function clear() {
      Array.from(valueContainer.children).forEach(child => {
        child.remove()
      })

      Array.from(document.querySelectorAll('select')).forEach(select => select.value = '')

      valueContainer.appendChild(valueTemplateFirst.cloneNode(true))
    }
  })()
</script>
{% endblock %}