{% extends "base.html" %}
{% load static wagtailcore_tags search_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="mb-3">Search</h1>

        {% search_block %}


        {% if search_results %}
            <h2>{{total_count}} results for {{search_query}}</h2>

            <div>
                {% for result in search_results %}
                    <div class="search-result-item">
                        <h4><a href="{{ result.page.url }}">{{ result.page.title }}</a></h4>
                        {% if result.search_highlight %}
                            {{ result.search_highlight }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    
            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            No results found
        {% endif %}
    </main>
{% endblock %}
