{% extends 'website_base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<article class="generic-page">
  <div class="generic-page__hero">
    {% image page.hero_image fill-1140x210 %}
    <h1>{{ page.title }}</h1>
  </div>
  <div class="generic-page__inner generic-page__inner--list">
    <div class="generic-page__header">
      <form class="search-form" method="get" action="{% pageurl search_page %}">
        <div class="search-form__title">Search news</div>
        <div class="search-form__input-group">
          <input type="text" name="query" placeholder="Search" class="search-form__input" value="{{ search_query }}">
          <button type="submit" class="search-form__submit">Search</button>
        </div>
      </form>
    </div>
    <div class="generic-page__content">
      <div class="article-list">
      {% if search_query %}
        {% if all_news %}
          <p>Search results for <b>'{{ search_query }}'</b>:</p>
        {% else %}
          <p>No news found for <b>'{{ search_query }}'</b></p>
        {% endif %}
      {% endif %}
      {% for news in all_news %}
        <div class="article-list-entry">
          <div class="article-list-entry__text">
            <div class="article-list-entry__title"><a href="{% pageurl news %}">{{ news.title }}</a></div>
            <p class="article-list-entry__content">{{ news.copy|striptags|truncatewords:50 }} <a href="{% pageurl news %}"> Continued</a></p>
          </div>
          <p class="article-list-entry__date">{{ news.published_on|date:"jS F Y" }}</p>
          <div class="article-list-entry__footer">
            <a class="article-list-entry__footer-link" href="{% pageurl news %}">Read story</a>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="pagination">
        {% if all_news.has_previous %}
        <a href="?page={{ all_news.previous_page_number }}{% if search_query %}&query={{search_query}}{% endif %}" class="pagination__link pagination__link--previous">Previous page</a>
        {% endif %}
        {% if all_news.has_next %}
        <a href="?page={{ all_news.next_page_number }}{% if search_query %}&query={{search_query}}{% endif %}" class="pagination__link pagination__link--next">Next page</a>
        {% endif %}
      </div>
    </div>
  </div>
</article>


{% endblock %}
