:root {
  --page-max-width: 1170px;
  font-family: "Open Sans", sans-serif;

  --text-color: #333;
  --paragraph-color: #727272;
  --burgundy: #a12830;
  --brown: #5e272b;
  --eastern-blue: #1e98a2;
}

body {
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--eastern-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}

p {
  color: var(--paragraph-color);
}

.header,
.main,
.footer {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  align-items: flex-end;
}

.header__menu {
  display: block;
  width: calc(100% + 2rem);
  list-style: none;
  padding: 0;
  margin: 0 -1rem;
}

.header__menu-item {
  position: relative;
}

.header__menu-item:has(.header__submenu)::after {
  display: block;
  content: "";
  width: 20px;
  height: 10px;
  top: 20px;
  right: 1rem;
  background-image: linear-gradient(
    to bottom,
    black 0,
    black 2px,
    transparent 2px,
    transparent 7px,
    black 7px,
    black 9px,
    transparent 9px
  );

  background-size: 20px 10px;
  border: 10px solid transparent;
  background-repeat: no-repeat;
  position: absolute;
}

.header__menu-item > a {
  position: relative;
  display: block;
  padding: 1.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__menu-item a {
  text-decoration: none;
  color: var(--text-color);
}

.header__menu a:hover {
  text-decoration: underline;
}

.footer {
  font-size: 12px;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.generic-page__content {
  padding-top: 0.5rem;
}

.learn-more-container {
  text-align: right;
  font-size: 1.2em;
}

.learn-more-container a {
  text-decoration: none;
}

.learn-more-container a::after {
  content: " →";
}

.generic-page__hero {
  display: grid;
  grid-column: 1 / span 2;
}

.generic-page__hero img,
.generic-page__hero h1 {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  align-self: center;
}

.generic-page__hero h1 {
  padding: 0 0.5em;
  color: white;
  font-size: 34px;
  font-weight: normal;
}

.generic-page__hero:not(:has(img)) h1 {
  color: inherit;
}

.generic-page__hero img {
  object-fit: cover;
  height: 95px;
  margin-bottom: 2rem;
}

.generic-page__hero--home img {
  height: 100%;
}

.generic-page__main-title,
.generic-page__content p:first-child {
  margin-top: 0;
}

.header__submenu {
  list-style-type: none;
  background: #ecf0f1;
  padding: 1rem;
  display: none;
}

.nav {
  display: none;
  width: 100%;
}

.nav.is-open {
  display: flex;
}

.header__menu-button {
  border: 0;
  cursor: pointer;
  background: none;
  width: 22px;
  height: 14px;
  box-sizing: content-box;
}

.header__menu-button svg {
  width: 100%;
}

.header__menu-item:hover .header__submenu {
  display: block;
  width: 100%;
}

.header__menu-item:has(.header__submenu):hover {
  background-color: #ecf0f1;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.article-list-entry {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #eee;
}

.article-list-entry__text {
  padding: 1rem;
}

.article-list-entry__title {
  font-size: 2em;
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.article-list-entry__title a {
  color: var(--text-color);
  text-decoration: none;
}

.article-list-entry__title a:hover {
  text-decoration: underline;
}

.article-list-entry__date {
  text-align: center;
  font-size: 0.8em;
}

.article-list-entry__date::before {
  display: block;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="%23A12830"><path d="M88 112a8 8 0 0 1 8-8h80a8 8 0 0 1 0 16H96a8 8 0 0 1-8-8Zm8 40h80a8 8 0 0 0 0-16H96a8 8 0 0 0 0 16Zm136-88v120a24 24 0 0 1-24 24H32a24 24 0 0 1-24-24V88a8 8 0 0 1 16 0v96a8 8 0 0 0 16 0V64a16 16 0 0 1 16-16h160a16 16 0 0 1 16 16Zm-16 0H56v120a24 24 0 0 1-1 8h153a8 8 0 0 0 8-8Z"/></svg>');
  background-size: 100%;
  width: 100px;
  height: 100px;
  content: "";
  margin: 0 auto;
}

.article-list-entry__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ecf0f1;
  grid-column: 1 / span 2;
}

.article-list-entry__footer-link {
  display: flex;
  height: 60px;
  width: 33%;
  color: white;
  background-color: #5e272b;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.85em;
  gap: 0.5em;
}

.article-list-entry__footer-link:hover {
  background-color: #a12830;
}

.article-list-entry__footer-link::after {
  content: " →";
}

.search-form {
  padding: 1em;
  border: 1px solid #eee;
}

.search-form__title {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}

.search-form__input-group {
  display: flex;
}

.search-form__input {
  flex: 1;
  padding: 0.5em;
  border: 1px solid #ccc;
  font-family: inherit;
}

.search-form__submit {
  padding: 0.5em 1em;
  background-color: var(--brown);
  color: white;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
  }

  .header {
    flex-direction: column;
    align-items: revert;
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0.5em 0;
    width: auto;
  }

  .header__menu-item > a {
    padding: 0;
    border-top: none;
  }

  .header__menu-item:has(.header__submenu)::after {
    display: none;
  }

  .header__menu-item:hover .header__submenu {
    width: fit-content;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }

  .generic-page__inner {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .generic-page__inner--list {
    padding: 0;
  }

  .generic-page__content--home {
    columns: 2;
  }

  .generic-page__hero h1 {
    font-size: 45px;
    padding: 0 1.5em;
  }

  .generic-page__hero--home h1 {
    width: 60%;
    align-self: flex-end;
    padding-bottom: 1em;
  }

  .generic-page__hero img {
    height: 100%;
    width: 100%;
  }

  .header__menu-item {
    position: relative;
    padding: 0.5em 1em;
  }

  .header__menu-item:hover .header__submenu {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .header__submenu {
    display: none;
    white-space: nowrap;
    font-size: 0.8em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  .header__menu-toggle {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .generic-page__inner {
    padding: 4rem 8rem;
  }

  .generic-page__inner--list {
    padding: 0;
  }

  .header__menu {
    justify-content: flex-end;
  }

  .article-list-entry {
    grid-template-columns: 2fr 1fr;
  }
}
