.logo {
  height: 60px;
}

.search-result-item:not(:last-of-type) {
  border-bottom: 1px solid $border-color;
}

.search-highlight {
  background-color: rgba(2, 128, 139, 0.1);
}

.publication-image {
  object-fit: contain;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}