.logo {
  mix-blend-mode: multiply;
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.logo-mini {
  mix-blend-mode: multiply;
  height: 50px;
}

.logo-tiny {
  mix-blend-mode: multiply;
  height: 32px;
}

.logo-small {
  mix-blend-mode: multiply;
  height: 80px;

  @include media-breakpoint-up(md) {
    height: 103px;
  }
}

.search-result-item:not(:last-of-type) {
  border-bottom: 1px solid $border-color;
}

.search-highlight {
  background-color: rgba(2, 128, 139, 0.1);
}

.search-frag-sep {
  margin: 0 map-get($spacers, 2);
}

.publication-image {
  object-fit: contain;
  border: 1px solid $border-color;
  background-color: white;

  padding: map-get($spacers, 2);

  @include media-breakpoint-up(md) {
    padding: map-get($spacers, 4);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: map-get($spacers, 4);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.card-grid-oneline {
  >* {
    display: none;
  }

  >*:nth-child(1) {
    display: unset;
  }

  >*:nth-child(2) {
    display: unset;
  }

  @include media-breakpoint-up(md) {
    >*:nth-child(3) {
      display: unset;
    }
  }

  @include media-breakpoint-up(lg) {
    >*:nth-child(4) {
      display: unset;
    }
  }
}

.card {
  background-color: unset;
}

.showcase {
  max-width: 1440px;
}

a.card {
  color: unset;
  font-style: unset;
  text-decoration: unset;

  .card-body {
    padding: map-get($spacers, 2) 0;
  }

  &:hover .card-img-top {
    background-color: $primary-hover-light;
  }
}

.flex-basis-0 {
  flex-basis: 0;
}

.contents-link {
  text-transform: capitalize;

  &.active {
    color: unset;
    font-style: unset;
    text-decoration: unset;

    @include heading-small;
  }
}

.scroll-snap-mobile-container {
  @include media-breakpoint-down(sm) {
    scroll-snap-type: y mandatory;

    >* {
      scroll-snap-align: start;
    }
  }
}

.article-page-images {
  @include media-breakpoint-down(sm) {
    >* {
      display: none;
    }

    > :first-child {
      display: unset;
    }
  }
}

.call-to-action-banner-container {
  display: block;
  margin-bottom: 4rem;
  text-align: center;
  text-decoration: none;
}

.call-to-action-banner {
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  position: relative;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  color: #333;
  transition: background-color 0.3s,
    color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.call-to-action-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1e98a2;
  transition: background-color 0.3s;
}

.call-to-action-banner:hover {
  background-color: #a12830;
  color: #1e98a2;
}

.call-to-action-banner:hover::after {
  background-color: #5e272b;
}

.call-to-action-banner h3 {
  font-size: 1.7em;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  transition: color 0.3s;
}
