{% extends 'website_base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <article class="generic-page">
    <div class="generic-page__header">
      <h2 class="generic-page__main-title">{{ page.subtitle }}</h2>
    </div>
    <div class="generic-page__content">
      {{ page.copy|richtext }}

      {% for section in page.get_about_subpages %}
      <ul>
        <li><a href="{% pageurl section %}">{{ section.title }}</a></li>
      </ul>
      {% endfor %}
    </div>
  </article>
{% endblock %}
