{% extends 'website_generic_page/website_generic_page.html' %}
{% load wagtailcore_tags humanize %}

{% block page_title %}Browse awards{% endblock %}

{% block page_subtitle %}{{ page.title }}{% endblock %}

{% block page_header %}
  <div class="award-details">
    <h4>{{ page.post_date|date:"jS F Y" }}</h4>

    {% if page.year %}
      <p>Year awarded: {{ page.year }}</p>
    {% endif %}
    {% if page.amount_awarded %}
      <p>Amount awarded: £{{ page.amount_awarded|floatformat:2| intcomma }}</p>
    {% endif %}
    {% if page.award_type %}
      <p>Award Type: {{ page.award_type|capfirst }}</p>
    {% endif %}
    {% if page.organisation %}
      <p>Organisation: {{ page.organisation }}</p>
    {% endif %}
    {% if page.website %}
      <p><a href="{{ page.website }}">{{ page.website }}</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block page_content %}
  {{ page.content | richtext }}
{% endblock %}
