{% extends 'website_generic_page/website_generic_page.html' %}
{% load wagtailcore_tags humanize %}

{% block page_title %}Browse awards{% endblock %}

{% block page_subtitle %}{{ page.title }}{% endblock %}

{% block page_header %}
  <div class="award-details">
    <div class="award-details__date">{{ page.post_date|date:"jS F Y" }}</div>

    {% if page.year %}
      <div>Year awarded: <b>{{ page.year }}</b></div>
    {% endif %}
    {% if page.amount_awarded %}
      <div>Amount awarded: <b>£{{ page.amount_awarded|floatformat:2| intcomma }}</b></div>
    {% endif %}
    {% if page.award_type %}
      <div>Award Type: <b>{{ page.award_type|capfirst }}</b></div>
    {% endif %}
    {% if page.organisation %}
      <div>Organisation: <b>{{ page.organisation }}</b></div>
    {% endif %}
    {% if page.website %}
      <div><a href="{{ page.website }}">{{ page.website }}</a></div>
    {% endif %}
  </div>

  {% include 'socialmedia_share.html' with page=page %}

{% endblock %}

{% block page_content %}
  {{ page.content | richtext }}
{% endblock %}
