{% load static wagtailuserbar webpack_bundle util_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <script>
            document.documentElement.classList.remove('no-js')
        </script>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% webpack_bundle 'main' 'css' %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="min-vh-100 d-flex flex-column {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
        <nav class="navbar navbar-expand-lg py-4 navbar-light">
            <div class="container align-items-end">
                <a class="navbar-brand" href="/">
                    <img class="logo" src={% static 'img/logo.png' %} />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <span class="flex-grow-1"></span>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-4">
                        {% bs_link class="nav-link" href="/" label="Archive" %}
                    </li>
                    <li class="nav-item ms-4">
                        {% bs_link class="nav-link" href="/search/" label="Search" %}
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block spacer %}
        <span class="flex-grow-1"></span>
        {% endblock %}

        <div class="bg-panel">
            <footer class="container py-5 px-3 fs-6 text">
                <div class="row">
                    <div class="col-8 d-flex flex-row">
                        <img class="logo-small" src={% static 'img/logo-small.png' %} />

                        <div class="ms-3">
                            <p>
                                © Barry Amiel and Norman Melburn Trust
                                <script>document.write(new Date().getFullYear().toString())</script>
                            </p>
                            <p class="mb-0">
                                <a href="mailto:contact@amielandmelburn.org.uk">contact@amielandmelburn.org.uk</a><br>
                                PO Box 76805<br>
                                London<br>
                                SE24 4DG<br>
                                Registered Charity No. 281239
                            </p>
                        </div>
                    </div>

                    <div class="col d-flex flex-column align-items-end justify-content-end">
                        <div class="mb-3">
                            <a class="ms-3" href="#">Accessibility</a>
                            <a class="ms-3" href="#">Privacy policy</a>
                        </div>

                        <div>
                            Site by <a target="_blank" href="https://commonknowledge.coop">Common Knowledge</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {% webpack_bundle 'main' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
