<div>
  <h3>Share:</h3>

  <a href="https://twitter.com/intent/tweet?url={{ page.url }}" class="fa-brands fa-square-x-twitter" target="_blank" title="Share on X"></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class="fa-brands fa-square-facebook" target="_blank" title="Share on Facebook"></a>

  <a href="https://bsky.app/intent/compose?text={{ page.title|urlencode }}%20{{ request.build_absolute_uri|urlencode }}" class="fa-brands fa-square-bluesky" target="_blank" title="Share on Bluesky"></a>

</div>
