<footer class="footer">
  <div class="footer__contact">
    <p><a href="/newsletter">Subscribe to our newsletter</a></p>
    <div>
    © The Barry Amiel & Norman Melburn Trust 2015<br/>
      Email:
      <a href="mailto:contact@amielandmelburn.org.uk"
        >contact@amielandmelburn.org.uk</a
      >
    </br>
    PO Box 80552 LONDON SE4 9FH</br>
    Registered Charity No. 281239
    </div>
  </div>
  <div class="footer__links">
    <p><a href="/about">About</a></p>
    <p><a href="/apply-for-an-award">Apply for an award</a></p>
  </div>
</footer>
