{% load static wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link type="text/css" href="{% static 'css/website.css' %}" rel="stylesheet" media="screen" />
    {% block extra_css %}

    {% endblock %}
  </head>

  <body>
    {% include 'website_header.html' %}

    <main class="main">{% block content %}{% endblock %}</main>
    {% include 'website_footer.html' %}
    <script src="{% static 'js/website.js' %}"></script>
  </body>
</html>
